[simulation]
# vcf2obsstat; calculates stats from vcf
nbtimes=11
tmax=65000
a=0.06
# the length of each interval, as a per of the target distance
pererr=5
recomb=1E-8
seg_size=2000000
# minor allele count threshold for AFS statistics computation
minallelcount_sfs=3
# minor allele count threshold for LD statistics computation
minallelcount_LD=3
# simdata; performs sims for ABC
nb_rep=10
nb_seg=40
haps=40
recombmin=1E-9
recombmax=1E-8
Nemin=1
Nemax=5
mmu=2.9E-9
savemsp=True
# simstat; used to recalculate stats from saved sims
haps2=40  # must be less than haps and even for recalculating stats
nb_seg2=20  # must be less than nb_seg for recalculating stats
